<a href="https://colab.research.google.com/github/xodn234/xodn234_Daily_Commit/blob/main/python_300/python_300.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# https://wikidocs.net/7014

In [ ]:
# 1. 화면에 Hello World 문자열을 출력하세요.
print('Hello World')

In [ ]:
# 2. 화면에 Mary's cosmetics을 출력하세요.
print("Mary's cosmetics")

In [ ]:
# 3. 화면에 아래 문장을 출력
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
# 4. 화면에 "C:\Windows"를 출력하세요.
print('"C:\Windows"')

In [ ]:
# 5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \t는 탭을 의미하고 \n'은 줄바꿈을 의미

In [ ]:
# 6. print ("오늘은", "일요일") 출력결과 예상
print("오늘은", "일요일")

In [ ]:
# 7. print() 함수를 사용하여 다음과 같이 출력
# naver;kakao;sk;samsung
print('naver;kakao;sk;samsung')
print("naver", "kakao", "sk" ,"samsung", sep=";")

In [ ]:
# 8. print() 함수를 사용하여 다음과 같이 출력
# naver/kakao/sk/samsung
print("naver", "kakao", "sk" ,"samsung", sep="/")

In [ ]:
# 9. 드를 수정하여 줄바꿈이 없이 출력
# print("first");print("second")
print("first", end=" ");print("second")

In [ ]:
# 10. 5/3의 결과를 화면에 출력하세요.
print(5/3)

In [ ]:
# 11. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

In [ ]:
# 12. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER,)

In [ ]:
# 13. 두 변수를 이용하여 아래와 같이 출력
# s = "hello"
# t = "python"
# 실행 예) hello! python
s = "hello"
t = "python"
print(s + '!', t)

In [ ]:
# 14. 아래 코드의 실행 결과를 예상
#  2 + 2 * 3 
print( 2 + 2 * 3 )

In [ ]:
# 15. 아래 변수에 바인딩된 값의 타입을 판별
# a = "132"
a = "132"
print(type(a))

In [ ]:
# 16. 문자열 '720'를 정수형으로 변환
# num_str = "720"
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

In [ ]:
# 17. 정수 100을 문자열 '100'으로 변환해보세요.
# num = 100
num = 100
num_str = str(100)
print(num_str, type(num_str))

In [ ]:
# 18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
num_str = "15.79"
num_int = float(num_str)
print(num_int, type(num_int))

In [ ]:
# 19. 정수로 변환한 후 최근 3년의 연도를 화면에 출력
# year = "2020"
year = "2020"
year_int = int(year)
print(year_int - 2, year_int - 1, year_int)

In [ ]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력
m = 48584
pay = m * 36
print(pay)

In [ ]:
# 21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력
# letters = 'python'
letters = 'python'
print(letters[0], letters[2])

In [ ]:
# 22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
# license_plate = "24가 2210"
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
# 23. 아래의 문자열에서 '홀' 만 출력하세요.
# string = "홀짝홀짝홀짝"
string = "홀짝홀짝홀짝"
print(string[::2])

In [ ]:
# 24. 문자열을 거꾸로 뒤집어 출력하세요.
# string = "PYTHON"
string = "PYTHON"
print(string[::-1])

In [ ]:
# 25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
# phone_number = "010-1111-2222"
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))

In [ ]:
# 26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력
print(phone_number.replace("-", ""))

In [ ]:
# 27. url 에 저장된 웹 페이지 주소에서 도메인을 출력
# url = "http://sharebook.kr"
url = "http://sharebook.kr"
print(url.split('.')[-1])

In [ ]:
# 28. 아래 코드의 실행 결과를 예상해보세요.
# lang = 'python'
# lang[0] = 'P'
# print(lang)
lang = 'python'
lang[0] = 'P'
print(lang)

In [ ]:
# 29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
# string = 'abcdfe2a354a32a'
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

In [ ]:
# 30. 아래 코드의 실행 결과를 예상해보세요.
# string = 'abcd'
# string.replace('b', 'B')
# print(string)
string = 'abcd'
string.replace('b', 'B')
print(string)

In [ ]:
# 31. 아래 코드의 실행 결과를 예상해보세요.
# a = "3"
# b = "4"
# print(a + b)
a = "3"
b = "4"
print(a + b)

In [ ]:
# 32. 아래 코드의 실행 결과를 예상해보세요.
# print("Hi" * 3)
print("Hi" * 3)

In [ ]:
# 33. 화면에 '-'를 80개 출력하세요.
print('-' * 80)

In [ ]:
# 34. 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# t1 = 'python'
# t2 = 'java'
# 실행 예: python java python java python java python java
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

In [ ]:
# 35. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
# name1 = "김민수" 
# age1 = 10
# name2 = "이철희"
# age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s나이: %s' % (name1, age1))
print('이름: %s나이: %s' % (name2, age2))

In [ ]:
# 36. 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
print('이름: {}나이: {}'.format(name1, age1))
print('이름: {}나이: {}'.format(name2, age2))

In [ ]:
# 37. 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f'이름: {name1}나이: {age1}')
print(f'이름: {name2}나이: {age2}')

In [ ]:
# 38. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',', '')))

In [ ]:
# 39. 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

#  문자열의 좌우의 공백

In [ ]:
### 40. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
print(data.strip())

In [ ]:
# 41. 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"
print(ticker.upper())

In [ ]:
# 42. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
print(ticker.lower())

# 'hello'가 있을 때 이를 'Hello'로 변

In [ ]:
### 43. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
word = 'hello'
print(word.capitalize())

# 'xlsx'로 끝나는지 확인

In [ ]:
### 44. 파일 이름이 문자열로 저장되어 있을 때 
# endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

# 'xlsx' 또는 'xls'로 끝나는지 확인

In [ ]:
### 45. 추가로 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xls')))

# '2020'로 시작하는지 확인

In [ ]:
### 46. startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

In [ ]:
# 47. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
print(a.split())

In [ ]:
# 48. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
print(ticker.split('_'))

In [ ]:
# 49. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
print(date.split('-'))

# 문자열의 오른쪽에 공백이 있을 때 이를 제거

In [ ]:
### 50. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
print(data.rstrip())

In [ ]:
# 51. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. 
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

In [ ]:
# 52. 051의 movie_rank 리스트에 "배트맨"을 추가하라
movie_rank.append('배트맨')
print(movie_rank)

# 슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가

In [ ]:
### 53. 슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

# '럭키'를 삭제

In [ ]:
### 54. movie_rank 리스트에서 '럭키'를 삭제
del movie_rank[3]
print(movie_rank)

In [ ]:
# 55. '스플릿' 과 '배트맨'을 를 삭제
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

In [ ]:
# 56. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang5 = lang1 + lang2
print(lang5)

# 다음 리스트에서 최댓값과 최솟값을 출력

In [ ]:
### 57. 다음 리스트에서 최댓값과 최솟값을 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums), min(nums))

In [ ]:
# 58. 다음 리스트의 합을 출력
nums = [1, 2, 3, 4, 5]
print(sum(nums))

In [ ]:
# 59. 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
# 60. 다음 리스트의 평균을 출력
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

In [ ]:
# 61. 날짜 정보를 제외하고 가격 정보만을 출력하라.
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 62. 슬라이싱을 사용해서 홀수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 63. 슬라이싱을 사용해서 짝수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 64. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
# 65. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

# Join 활용

In [ ]:
# 66. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

In [ ]:
# 67. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

In [ ]:
# 68. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

In [ ]:
# 69. 이를 interest 이름의 리스트로 분리 저장하라.
string = "삼성전자/LG전자/Naver"
print(string.split('/'))

In [ ]:
# 70. 리스트에 있는 값을 오름차순으로 정렬하세요
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

In [ ]:
# 71. my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()
print(my_variable)

In [ ]:
# 72. 영화 제목을 movie_rank 이름의 튜플에 저장
# 1. 닥터 스트레인지 
# 2. 스플릿
# 3. 럭키
tuple_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(tuple_rank)

In [ ]:
# 73. 숫자 1 이 저장된 튜플을 생성
tuple_num = (1)
print(tuple_num)

In [ ]:
# 74. 다음 코드를 실행해보고 오류가 발생하는 원인
# t = (1, 2, 3)
# t[0] = 'a'
# 튜플은 원소의 값을 변경하지 못한다.

In [ ]:
# 75. 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입
t = 1, 2, 3, 4
type(t)

In [ ]:
# 76. 변수 t에는 아래와 같은 값이 저장되어 있다. 
# 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
t = ('a', 'b', 'c')
# 불가능

In [ ]:
# 77. 튜플을 리스트로 변환
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(interest)

In [ ]:
# 78. 다음 리스트를 튜플로 변경하라
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(interest)

In [ ]:
# 79. 다음 코드의 실행 결과를 예상
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# range 참조

In [ ]:
### 80. 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성
num = tuple(range(2, 100, 2))
print(num)

In [ ]:
# 81. 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, _, _ = scores
print(a)

In [ ]:
# 82. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *c = scores
print(c)

In [ ]:
# 83. start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *b, _ = scores
print(b)

In [ ]:
# 84. temp 이름의 비어있는 딕셔너리를 만들라.
temp = {}

In [ ]:
# 85. 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성
dic = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(dic)

# 딕셔너리 추가

In [ ]:
### 86. 85 번의 딕셔너리에 아래 아이스크림 가격정보를 추가
dic['죠스바'] = 1200
dic['월드콘'] = 1500
print(dic)

In [ ]:
# 87. 다음 딕셔너리를 사용하여 메로나 가격을 출력
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(ice['메로나'])

In [ ]:
# 88. 다음 딕셔너리에서 메로나의 가격을 1300으로 수정
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

In [ ]:
# 89. 다음 딕셔너리에서 메로나를 삭제
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

In [ ]:
# 90. 에러가 발생한 원인은?
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생

In [ ]:
# 91. 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장, 딕셔너리의 이름은 inventory
inventory = {'메로나':[300, 20],'비비빅':[400, 3], '죠스바':[250, 100]}
print(inventory)

In [ ]:
# 92. inventory 딕셔너리에서 메로나의 가격을 화면에 출력
print(inventory['메로나'][0])

In [ ]:
# 93. inventory 딕셔너리에서 메로나의 재고를 화면에 출력
print(inventory['메로나'][1])

In [ ]:
# 94. inventory 딕셔너리에 아래 데이터를 추가
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory['월드콘'] = [500, 7]
print(inventory)

In [ ]:
# 95. 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))

In [ ]:
# 96. 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.values()))

In [ ]:
# 97. icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

# 딕셔너리 업데이트

In [ ]:
### 98. 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

In [ ]:
# 99. 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
dic = dict(zip(keys, vals))
print(dic)

In [ ]:
# 100. date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_price = dict(zip(date, close_price))
print(close_price)

In [ ]:
# 101. 파이썬에서 True 혹은 False를 갖는 데이터 타입
# bool

In [ ]:
# 102. 아래 코드의 출력 결과를 예상
print(3 == 5)

In [ ]:
# 103. 아래 코드의 출력 결과를 예상하라
print(3 < 5)

In [ ]:
# 104. 아래 코드의 결과를 예상하라.
x = 4
print(1 < x < 5)

In [ ]:
# 105. 아래 코드의 결과를 예상하라.
print ((3 == 3) and (4 != 3))

In [ ]:
# 106. 아래 코드에서 에러가 발생하는 원인에 대해 설명
# print(3 => 4)
# 지원하지 않는 연산자

In [ ]:
# 107. 아래 코드의 출력 결과를 예상
if 4 < 3:
    print("Hello World")

In [ ]:
# 108. 아래 코드의 출력 결과를 예상
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [ ]:
# 109. 아래 코드의 출력 결과를 예상
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [ ]:
# 110. 아래 코드의 출력 결과를 예상
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [ ]:
# 111. 사용자로부터 입력받은 문자열을 두 번 출력
input_ = input()
print(input_ * 2)

In [ ]:
# 112. 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력
input_ = int(input())
print(input_ + 10)

In [ ]:
# 113. 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별
input_ = int(input())
if input_ % 2 == 0:
  print('짝수')
else:
  print('홀수')

In [ ]:
# 114. 용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력
# 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력
input_ = int(input())
input_add = input_ + 20
if input_add > 255:
  print(255)
else:
  print(input_add)

In [ ]:
# 115. 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력, 출력 값의 범위는 0~255
# 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력
input_ = int(input())
input_minus = input_ - 20
if input_minus < 0:
  print(0)
elif input_minus > 255:
  print(255)
else:
  print(input_minus)

In [ ]:
# 116. 사용자로부터 입력 받은 시간이 정각인지 판별
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

In [ ]:
# 117. 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인
fruit = ["사과", "포도", "홍시"]
word = input()
if word in fruit:
  print('정답')
else:
  print('오답')

In [ ]:
# 118. 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 
# 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
word = input()
if word in warn_investment_list:
  print('투자 경고')
else:
  print('투자 경고 X')

In [ ]:
# 119. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
word = input()
if word in fruit.keys():
  print('정답')
else:
  print('오답')

In [ ]:
# 120. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 키 (value) 에 포함되었다면 "정답입니다"를 아닐 경우 "오답
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
word = input()
if word in fruit.values():
  print('정답')
else:
  print('오답')

In [ ]:
# 121. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력.
word = input()
if word.islower():
  print(word.upper())
else:
  print(word.lower())

In [ ]:
# 122. 사용자로부터 score를 입력받아 학점을 출력
score = int(input())
if score > 80:
  print('A')
elif score > 60:
  print('B')
elif score > 40:
  print('C')
elif score > 20:
  print('D')
else:
  print('E')

In [ ]:
# 123. 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성
change = {'달러':1167,
         '엔':1.096,
         '유로':1268,
         '위안':171}
num, money = input().split()
print(float(num) * change[money], '원')

In [ ]:
# 124. 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력
a, b, c = map(int, input().split())
if a > b and a > c:
  num = a
elif b > a and b > c:
  num = b
else:
  num = c
print(num)

In [ ]:
# 125. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성
# number = 011-345-1922
tel = {'011':'SKT',
       '016':'KT',
       '019':'LGU',
       '010': '알수없음'}
number = input()
num = number.split('-')[0]
tel[num]

In [ ]:
# 126. 사용자로 부터 5자리 우편번호를 입력받고 구를 판별
# 우편번호: 01400
mail_num_dic = {'0':'강북구',
            '1':'강북구',
            '2':'강북구',
            '3':'도봉구',
            '4':'도봉구',
            '5':'도봉구',
            '6':'노원구',
            '7':'노원구',
            '8':'노원구',
            '9':'노원구'}
mail_num = input()
mail_num_dic[mail_num[2]]

In [ ]:
# 127. 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 
# 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.
# 주민등록번호: 821010-1635210
gender_num = input()
if int(gender_num[7]) == 1 or int(gender_num[7]) == 3:
  print('남자')
else:
  print('여자')

In [ ]:
# 128. 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 
# 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라
# 주민등록번호: 821010-1635210
num = input()
num_a = num.split('-')[1][1:3]
if int(num_a) < 8:
  print('서울')
else:
  print('부산')

In [ ]:
# 129. 주민등록번호 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다
# 산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호
# 주민등록번호: 821010-1635210
# num = input()
## 노가다.. 추 후 풀이

In [ ]:
# 130. btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 
# (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
if int(btc['opening_price']) + (int(btc['max_price']) - int(btc['min_price'])) > int(btc['max_price']):
  print('상승장')
else:
  print('하락장')

In [ ]:
# 131. for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

In [ ]:
# 132. for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

In [ ]:
# 133. 다음 for 문과 동일한 기능을 수행하는 코드를 작성
# for 변수 in ["A", "B", "C"]:
#   print(변수)
A = 'A'
B = 'B'
C = 'C'
print(A, B, C, sep='\n')

In [ ]:
# 134. for문을 풀어서 동일한 동작을하는 코드를 작성하라.
# for 변수 in ["A", "B", "C"]:
#   print("출력:", 변수)
A = 'A'
B = 'B'
C = 'C'
print("출력:"+A, "출력:"+B, "출력:"+C, sep='\n')

In [ ]:
# 135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
# for 변수 in ["A", "B", "C"]:
#   b = 변수.lower()
#   print("변환:", b)
A = 'A'
B = 'B'
C = 'C'
print("출력:"+A.lower(), "출력:"+B.lower(), "출력:"+C.lower(), sep='\n')

In [ ]:
# 136. 다음 코드를 for문으로 작성하라.
# 변수 = 10
# print(변수)
# 변수 = 20
# print(변수)
# 변수 = 30
# print(변수)
for i in [10, 20, 30]:
  print(i)

In [ ]:
# 137. 다음 코드를 for문으로 작성하라.
# print(10)
# print(20)
# print(30)
for i in [10, 20, 30]:
  print(i)

In [ ]:
# 138. 다음 코드를 for문으로 작성하라.
# print(10)
# print("-------")
# print(20)
# print("-------")
# print(30)
# print("-------")
for i in [10, 20, 30]:
  print(i)
  print("-------")

In [ ]:
# 139. 다음 코드를 for문으로 작성하라.
# print("++++")
# print(10)
# print(20)
# print(30)
print("++++")
for i in [10, 20, 30]:
  print(i)

In [ ]:
# 140. 다음 코드를 for문으로 작성하라.
# print("-------")
# print("-------")
# print("-------")
# print("-------")
for i in range(4):
  print("-------")

In [ ]:
# 141. 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
# 단 부가세는 10원으로 가정한다.
# 리스트 = [100, 200, 300]
# 110
# 210
# 310
리스트 = [100, 200, 300]
for i in 리스트:
  print(i + int(i * 1/10))

In [ ]:
# 142. for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
# 리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
  print('오늘의 메뉴: 튀김')

In [ ]:
# 143. 저장된 문자열의 길이를 다음과 같이 출력하라.
# 리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
  print(len(i))

In [ ]:
# 144. 동물 이름과 글자수를 다음과 같이 출력하라.
리스트 = ['dog', 'cat', 'parrot']
# dog 3
# cat 3
# parrot 6
for i in 리스트:
  print(i, len(i))

In [ ]:
# 145. for문을 사용해서 동물 이름의 첫 글자만 출력하라.
# 리스트 = ['dog', 'cat', 'parrot']
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

In [ ]:
# 146. for문을 사용해서 다음과 같이 출력하라.
# 리스트 = [1, 2, 3]
# 3 x 1
# 3 x 2
# 3 x 3
리스트 = [1, 2, 3]
for i in 리스트:
  print('3 x',i)

In [ ]:
# 147. for문을 사용해서 다음과 같이 출력하라.
# 리스트 = [1, 2, 3]
# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9
리스트 = [1, 2, 3]
for i in 리스트:
  print(3 ,'x' ,i, '=', 3 * i)

In [ ]:
# 148. for문을 사용해서 다음과 같이 출력하라.
# 리스트 = ["가", "나", "다", "라"]
# 나
# 다
# 라
리스트 = ["가", "나", "다", "라"]
for i in range(1, len(리스트)):
  print(리스트[i])

In [ ]:
# 149. for문을 사용해서 다음과 같이 출력하라.
# 가
# 다
리스트 = ["가", "나", "다", "라"]
for i in range(0, len(리스트), 2):
  print(리스트[i])

In [ ]:
# 149. for문을 사용해서 다음과 같이 출력하라.
# 리스트 = ["가", "나", "다", "라"]
# 라
# 다
# 나
# 가
리스트 = ["가", "나", "다", "라"]
for i in range(len(리스트)-1, -1, -1):
  print(리스트[i])

In [ ]:
# 151. for문을 사용해서 리스트의 음수를 출력하라.
# 리스트 = [3, -20, -3, 44]
# -20
# -3
리스트 = [3, -20, -3, 44]
for i in 리스트:
  if i < 0:
    print(i)

In [ ]:
# 152. for문을 사용해서 3의 배수만을 출력하라.
# 리스트 = [3, 100, 23, 44]
# 3
리스트 = [3, 100, 23, 44]
for i in 리스트:
  if i % 3 == 0:
    print(i)

In [ ]:
# 153. 리스트에서 20 보다 작은 3의 배수를 출력하라
# 리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
  if i % 3 == 0 and i < 20:
    print(i)

In [ ]:
# 154. 리스트에서 세 글자 이상의 문자를 화면에 출력하라
# 리스트 = ["I", "study", "python", "language", "!"]
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
  if len(i) >= 3:
    print(i)

In [ ]:
# 155. 리스트에서 대문자만 화면에 출력하라.
# 리스트 = ["A", "b", "c", "D"]
# A
# D
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.upper() == i:
    print(i)

In [ ]:
# 156. 리스트에서 소문자만 화면에 출력하라.
# 리스트 = ["A", "b", "c", "D"]
# b
# c
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.lower() == i:
    print(i)

In [ ]:
# 157. 이름의 첫 글자를 대문자로 변경해서 출력하라.
# 리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i.capitalize())

In [ ]:
# 158. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)
# 리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
  print(i.split('.')[0])

In [ ]:
# 159. 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.
# 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# define.h
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  if i.split('.')[1] == 'h':
    print(i)

In [ ]:
# 160. 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.
# 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
    print(i)

In [ ]:
# 161. for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for i in range(100): 
  print(i)

In [ ]:
# 162. 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
for i in range(2002, 2051, 4):
  print(i)

In [ ]:
# 163. 1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range(3, 31, 3):
  print(i)

In [ ]:
 # 164. 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(99, -1, -1):
  print(i)

In [ ]:
# 165. for문을 사용해서 아래와 같이 출력하라.
# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9
for i in range(0, 10):
  print(i / 10)

In [ ]:
# 166. 구구단 3단을 출력하라.
for i in range(1, 10):
  print(f'3 x {i} =', 3 * i)

In [ ]:
# 167. 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
for i in range(1, 10, 2):
  print(f'3 x {i} =', 3 * i)

In [ ]:
# 168. 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
num = 0
for i in range(11):
  num += i
num

In [ ]:
# 169. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
num = 0
for i in range(1, 11, 2):
  num += i
num

In [ ]:
# 170. 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라..
num = 1
for i in range(1, 11):
  num *= i
num

In [ ]:
# 171. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# price_list = [32100, 32150, 32000, 32500]
# 32100
# 32150
# 32000
# 32500
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
  print(i)

In [ ]:
# 172. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500
price_list = [32100, 32150, 32000, 32500]
for num, i in enumerate(price_list):
  print(num, i)

In [ ]:
# 173. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
  print(3 - i, price_list[i])

In [ ]:
# 174. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500
price_list = [32100, 32150, 32000, 32500]
for num, i in enumerate(price_list):
  if num > 0:
    print(90 + 10*num, i)

In [ ]:
#175. my_list를 아래와 같이 출력하라.
# my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라
my_list = ["가", "나", "다", "라"]
print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

In [ ]:
#176. 리스트를 아래와 같이 출력하라.
# my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마
my_list = ["가", "나", "다", "라", "마"]
print(my_list[0], my_list[1], my_list[2])
print(my_list[1], my_list[2], my_list[3])
print(my_list[2], my_list[3], my_list[4])

In [ ]:
# 177. 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.
# my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1, 0, -1):
  print(my_list[i], my_list[i-1])

In [ ]:
# 178. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력
# my_list = [100, 200, 400, 800]
# 100
# 200
# 400
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1, 0, -1):
  print(my_list[i] - my_list[i-1])

In [ ]:
# 179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력
# my_list = [100, 200, 400, 800, 1000, 1300]
# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(0, 4):
  print((my_list[i] + my_list[i+1] + my_list[i+2]) / 3)

In [ ]:
# 180. 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i in range(len(low_prices)):
  print(high_prices[i] - low_prices[i])

In [ ]:
# 181. 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.
# 101호	102호
# 201호	202호
# 301호	302호
apart = [['101호', '102호'],['201호', '202호'],['301호', '302호']]

In [ ]:
# 182. 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.
# 시가	종가
# 100	80
# 200	210
# 300	330
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [ ]:
# 183. 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장
# 시가	종가
# 100	80
# 200	210
# 300	330
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [ ]:
# 184. 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.
# 10/10	80	110	70	90
# 10/11	210	230	190	200
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [ ]:
#185. 리스트에 저장된 데이터를 아래와 같이 출력하라.
# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j, '호')

In [ ]:
#186. 리스트에 저장된 데이터를 아래와 같이 출력하라.
# apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)-1, -1, -1):
  for j in apart[i]:
    print(j)

In [ ]:
#187. 리스트에 저장된 데이터를 아래와 같이 출력하라.
# apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호