<a href="https://colab.research.google.com/github/xodn234/xodn234_Daily_Commit/blob/main/python_300/python_300.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://wikidocs.net/7014

In [ ]:
# 1. 화면에 Hello World 문자열을 출력하세요.
print('Hello World')

In [ ]:
# 2. 화면에 Mary's cosmetics을 출력하세요.
print("Mary's cosmetics")

In [ ]:
# 3. 화면에 아래 문장을 출력
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
# 4. 화면에 "C:\Windows"를 출력하세요.
print('"C:\Windows"')

In [ ]:
# 5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \t는 탭을 의미하고 \n'은 줄바꿈을 의미

In [ ]:
# 6. print ("오늘은", "일요일") 출력결과 예상
print("오늘은", "일요일")

In [ ]:
# 7. print() 함수를 사용하여 다음과 같이 출력
# naver;kakao;sk;samsung
print('naver;kakao;sk;samsung')
print("naver", "kakao", "sk" ,"samsung", sep=";")

In [ ]:
# 8. print() 함수를 사용하여 다음과 같이 출력
# naver/kakao/sk/samsung
print("naver", "kakao", "sk" ,"samsung", sep="/")

In [ ]:
# 9. 드를 수정하여 줄바꿈이 없이 출력
# print("first");print("second")
print("first", end=" ");print("second")

In [ ]:
# 10. 5/3의 결과를 화면에 출력하세요.
print(5/3)

In [ ]:
# 11. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

In [ ]:
# 12. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER,)

In [ ]:
# 13. 두 변수를 이용하여 아래와 같이 출력
# s = "hello"
# t = "python"
# 실행 예) hello! python
s = "hello"
t = "python"
print(s + '!', t)

In [ ]:
# 14. 아래 코드의 실행 결과를 예상
#  2 + 2 * 3 
print( 2 + 2 * 3 )

In [ ]:
# 15. 아래 변수에 바인딩된 값의 타입을 판별
# a = "132"
a = "132"
print(type(a))

In [ ]:
# 16. 문자열 '720'를 정수형으로 변환
# num_str = "720"
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

In [ ]:
# 17. 정수 100을 문자열 '100'으로 변환해보세요.
# num = 100
num = 100
num_str = str(100)
print(num_str, type(num_str))

In [ ]:
# 18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
num_str = "15.79"
num_int = float(num_str)
print(num_int, type(num_int))

In [ ]:
# 19. 정수로 변환한 후 최근 3년의 연도를 화면에 출력
# year = "2020"
year = "2020"
year_int = int(year)
print(year_int - 2, year_int - 1, year_int)

In [ ]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력
m = 48584
pay = m * 36
print(pay)

In [ ]:
# 21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력
# letters = 'python'
letters = 'python'
print(letters[0], letters[2])