<a href="https://colab.research.google.com/github/xodn234/xodn234_Daily_Commit/blob/main/python_300/python_300.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://wikidocs.net/7014

In [ ]:
# 1. 화면에 Hello World 문자열을 출력하세요.
print('Hello World')

In [ ]:
# 2. 화면에 Mary's cosmetics을 출력하세요.
print("Mary's cosmetics")

In [ ]:
# 3. 화면에 아래 문장을 출력
# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
# 4. 화면에 "C:\Windows"를 출력하세요.
print('"C:\Windows"')

In [ ]:
# 5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \t는 탭을 의미하고 \n'은 줄바꿈을 의미

In [ ]:
# 6. print ("오늘은", "일요일") 출력결과 예상
print("오늘은", "일요일")

In [ ]:
# 7. print() 함수를 사용하여 다음과 같이 출력
# naver;kakao;sk;samsung
print('naver;kakao;sk;samsung')
print("naver", "kakao", "sk" ,"samsung", sep=";")

In [ ]:
# 8. print() 함수를 사용하여 다음과 같이 출력
# naver/kakao/sk/samsung
print("naver", "kakao", "sk" ,"samsung", sep="/")

In [ ]:
# 9. 드를 수정하여 줄바꿈이 없이 출력
# print("first");print("second")
print("first", end=" ");print("second")

In [ ]:
# 10. 5/3의 결과를 화면에 출력하세요.
print(5/3)

In [ ]:
# 11. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

In [ ]:
# 12. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER,)

In [ ]:
# 13. 두 변수를 이용하여 아래와 같이 출력
# s = "hello"
# t = "python"
# 실행 예) hello! python
s = "hello"
t = "python"
print(s + '!', t)

In [ ]:
# 14. 아래 코드의 실행 결과를 예상
#  2 + 2 * 3 
print( 2 + 2 * 3 )

In [ ]:
# 15. 아래 변수에 바인딩된 값의 타입을 판별
# a = "132"
a = "132"
print(type(a))

In [ ]:
# 16. 문자열 '720'를 정수형으로 변환
# num_str = "720"
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

In [ ]:
# 17. 정수 100을 문자열 '100'으로 변환해보세요.
# num = 100
num = 100
num_str = str(100)
print(num_str, type(num_str))

In [ ]:
# 18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
num_str = "15.79"
num_int = float(num_str)
print(num_int, type(num_int))

In [ ]:
# 19. 정수로 변환한 후 최근 3년의 연도를 화면에 출력
# year = "2020"
year = "2020"
year_int = int(year)
print(year_int - 2, year_int - 1, year_int)

In [ ]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력
m = 48584
pay = m * 36
print(pay)

In [ ]:
# 21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력
# letters = 'python'
letters = 'python'
print(letters[0], letters[2])

In [ ]:
# 22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
# license_plate = "24가 2210"
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
# 23. 아래의 문자열에서 '홀' 만 출력하세요.
# string = "홀짝홀짝홀짝"
string = "홀짝홀짝홀짝"
print(string[::2])

In [ ]:
# 24. 문자열을 거꾸로 뒤집어 출력하세요.
# string = "PYTHON"
string = "PYTHON"
print(string[::-1])

In [ ]:
# 25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
# phone_number = "010-1111-2222"
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))

In [ ]:
# 26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력
print(phone_number.replace("-", ""))

In [ ]:
# 27. url 에 저장된 웹 페이지 주소에서 도메인을 출력
# url = "http://sharebook.kr"
url = "http://sharebook.kr"
print(url.split('.')[-1])

In [ ]:
# 28. 아래 코드의 실행 결과를 예상해보세요.
# lang = 'python'
# lang[0] = 'P'
# print(lang)
lang = 'python'
lang[0] = 'P'
print(lang)

In [ ]:
# 29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
# string = 'abcdfe2a354a32a'
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

In [ ]:
# 30. 아래 코드의 실행 결과를 예상해보세요.
# string = 'abcd'
# string.replace('b', 'B')
# print(string)
string = 'abcd'
string.replace('b', 'B')
print(string)

In [ ]:
# 31. 아래 코드의 실행 결과를 예상해보세요.
# a = "3"
# b = "4"
# print(a + b)
a = "3"
b = "4"
print(a + b)

In [ ]:
# 32. 아래 코드의 실행 결과를 예상해보세요.
# print("Hi" * 3)
print("Hi" * 3)

In [ ]:
# 33. 화면에 '-'를 80개 출력하세요.
print('-' * 80)

In [ ]:
# 34. 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# t1 = 'python'
# t2 = 'java'
# 실행 예: python java python java python java python java
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

In [ ]:
# 35. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
# name1 = "김민수" 
# age1 = 10
# name2 = "이철희"
# age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s나이: %s' % (name1, age1))
print('이름: %s나이: %s' % (name2, age2))

In [ ]:
# 36. 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
print('이름: {}나이: {}'.format(name1, age1))
print('이름: {}나이: {}'.format(name2, age2))

In [ ]:
# 37. 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f'이름: {name1}나이: {age1}')
print(f'이름: {name2}나이: {age2}')

In [ ]:
# 38. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',', '')))

In [ ]:
# 39. 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

#  문자열의 좌우의 공백

In [ ]:
### 40. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
print(data.strip())

In [ ]:
# 41. 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"
print(ticker.upper())

In [ ]:
# 42. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
print(ticker.lower())

# 'hello'가 있을 때 이를 'Hello'로 변

In [ ]:
### 43. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
word = 'hello'
print(word.capitalize())

# 'xlsx'로 끝나는지 확인

In [ ]:
### 44. 파일 이름이 문자열로 저장되어 있을 때 
# endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

# 'xlsx' 또는 'xls'로 끝나는지 확인

In [ ]:
### 45. 추가로 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xls')))

# '2020'로 시작하는지 확인

In [ ]:
### 46. startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

In [ ]:
# 47. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
print(a.split())

In [ ]:
# 48. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
print(ticker.split('_'))

In [ ]:
# 49. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
print(date.split('-'))

# 문자열의 오른쪽에 공백이 있을 때 이를 제거

In [ ]:
### 50. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
print(data.rstrip())

In [ ]:
# 51. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. 
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

In [ ]:
# 52. 051의 movie_rank 리스트에 "배트맨"을 추가하라
movie_rank.append('배트맨')
print(movie_rank)

# 슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가

In [ ]:
### 53. 슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

# '럭키'를 삭제

In [ ]:
### 54. movie_rank 리스트에서 '럭키'를 삭제
del movie_rank[3]
print(movie_rank)

In [ ]:
# 55. '스플릿' 과 '배트맨'을 를 삭제
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

In [ ]:
# 56. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang5 = lang1 + lang2
print(lang5)

# 다음 리스트에서 최댓값과 최솟값을 출력

In [ ]:
### 57. 다음 리스트에서 최댓값과 최솟값을 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums), min(nums))

In [ ]:
# 58. 다음 리스트의 합을 출력
nums = [1, 2, 3, 4, 5]
print(sum(nums))

In [ ]:
# 59. 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
# 60. 다음 리스트의 평균을 출력
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

In [ ]:
# 61. 날짜 정보를 제외하고 가격 정보만을 출력하라.
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 62. 슬라이싱을 사용해서 홀수만 출력