<a href="https://colab.research.google.com/github/xodn234/xodn234_Daily_Commit/blob/main/programmers/programmers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# https://programmers.co.kr/

In [ ]:
# lv 1
# 로또의 최고 순위와 최저 순위

def solution(lottos, win_nums):
  answer = []
  zero = lottos.count(0)
  rank = 1
  for i in lottos:
    if i not in win_nums:
      rank += 1

  answer.append(rank - zero)
  
  if rank == 7:
    answer.append(6)
  else:
    answer.append(rank)
  return answer

lottos = [1, 2, 3, 4, 5, 6]
win_nums = [38, 19, 20, 40, 15, 25]
solution(lottos, win_nums)

# 정확성: 93.3

In [ ]:
# 다시 풀이
def solution(lottos, win_nums):
  answer = []
  zero = lottos.count(0)
  num_count = [i for i in lottos if i in win_nums]
  rank = 7 - len(num_count)
  if rank == 7 and zero == 0:
    rank = 6
  answer.append(rank - zero)
  if rank == 7:
    rank = 6 
  answer.append(rank)
  return answer

lottos = [0, 0, 0, 0, 0, 0]
win_nums = [38, 19, 20, 40, 15, 25]
solution(lottos, win_nums)

In [ ]:
# 다른사람 풀이

def solution(lottos, win_nums):

    rank=[6,6,5,4,3,2,1]

    cnt_0 = lottos.count(0)
    ans = 0
    for x in win_nums:
        if x in lottos:
            ans += 1
    return rank[cnt_0 + ans],rank[ans]

In [ ]:
# lv 1
# 숫자 문자열과 영단어

def solution(s):
  answer = s
  num = {'0':'zero', '1':'one', '2':'two', '3':'three', '4':'four', '5':'five', '6':'six', '7':'seven', '8':'eight', '9':'nine'}
  for i in range(10):
    if num[str(i)] in answer:
      answer = answer.replace(num[str(i)], str(i))
  return int(answer)

solution("23four5six7")

In [ ]:
# 다른사람 풀이

num_dic = {"zero":"0", "one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

def solution(s):
    answer = s
    for key, value in num_dic.items():
        answer = answer.replace(key, value)
    return int(answer)

solution("23four5six7")

In [ ]:
# lv 1
# 크레인 인형뽑기 게임
def solution(board, moves):
  answer = 0
  pick = []

  for i in moves:
    for j in range(len(board)):
      if board[j][i-1] != 0:
        pick.append(board[j][i-1])
        board[j][i-1] = 0
        break

    if len(pick) >= 2 and pick[-1] == pick[-2]:
      answer += 2
      pick = pick[:-2]

  return answer



board = [[0,0,0,0,0],[0,0,1,0,3],[0,2,5,0,1],[4,2,4,4,2],[3,5,1,3,1]]
moves = [1,5,3,5,1,2,1,4]
solution(board, moves)

### 답은 맞는데 채점은 왜 틀릴까?

In [ ]:
# 다른사람 풀이

def solution(board, moves):
    picked = []
    ans = 0
    for move in moves:
        x = move - 1
        for i in range(len(board)):
            if board[i][x] != 0:
                picked.append(board[i][x])
                board[i][x] = 0
                break
        
        if len(picked) > 1:
            if picked[-1] == picked[-2]:
                picked.pop()
                picked.pop()
                ans += 2
    
    return ans

board = [[0,0,0,0,0],[0,0,1,0,3],[0,2,5,0,1],[4,2,4,4,2],[3,5,1,3,1]]
moves = [1,5,3,5,1,2,1,4]
solution(board, moves)

In [ ]:
# lv 1
# 음양 더하기

def solution(absolutes, signs):
    answer = 123456789
    true = True
    false = False
    sum = 0
    for i in range(len(absolutes)):
      if signs[i] == true:
        sum += absolutes[i]
      else:
        sum -= absolutes[i]
    return sum

absolutes = [4,7,12]
signs = [true,false,true]
solution(absolutes, signs)

In [ ]:
# 다른사람 풀이
# 진심 놀라움..

def solution(absolutes, signs):
    return sum(absolutes if sign else -absolutes for absolutes, sign in zip(absolutes, signs))

absolutes = [4,7,12]
signs = [true,false,true]
solution(absolutes, signs)

In [ ]:
# lv 1
# 소수 만들기
# from itertools import combinations (참조)
# nums = [1, 2, 3, 4]
# combi = list(combinations(nums, 3))
# combi

from itertools import combinations
def solution(nums):
  answer = 0
  combi = list(combinations(nums, 3))
  
  for i in combi:
    for j in range(2, sum(i)+1):
      if sum(i) == j:
        answer += 1
      elif sum(i) % j == 0:
        break

  return answer

nums = [1,2,7,6,4]
solution(nums)

In [ ]:
# 끌리는 다른풀이를 못찾음..

In [ ]:
# # lv 1
# K번째수

def solution(array, commands):
  answer = []
  for i, j, k in commands:
    arr = array[i-1:j]
    arr.sort()
    answer.append(arr[k-1])

  return answer

array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2, 5, 3], [4, 4, 1], [1, 7, 3]]
solution(array, commands)
## [5, 6, 3]

In [ ]:
# 다름사람 풀이

def solution(array, commands):
    return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2, 5, 3], [4, 4, 1], [1, 7, 3]]
solution(array, commands)

In [ ]:
# # lv 1
# 체육복

def solution(n, lost, reserve):
    reserve_set = set(reserve)-set(lost) 
    lost_set = set(lost)-set(reserve) 
    
    for reserve_person in reserve_set: 
        if reserve_person-1 in lost_set: 
            lost_set.remove(reserve_person-1) 
        elif reserve_person+1 in lost_set: 
            lost_set.remove(reserve_person+1) 
    
    return n-len(lost_set)

n = 3 # 학생수
lost = [3] # 체육복 도난당한 학생 번호
reserve = [1] # 체육복 여벌 학생 번호
solution(n, lost, reserve)
# = 5 # 수업 가능한 학생 수

In [ ]:
# # lv 1
# 2016년
def solution(a, b):
  day = ["THU","FRI","SAT","SUN","MON","TUE","WED"]
  mon = [31, 29, 31, 30, 31, 30 , 31, 31, 30, 31, 30, 31]
  return day[(sum(mon[:a-1]) + b) % 7]

In [ ]:
# # lv 1
# 폰켓몬
def solution(nums):
    max_num = int(len(nums) / 2)
    nums_set = len(set(nums))
    answer = min(max_num, nums_set)
    return answer

In [ ]:
# # lv 1
# 같은 숫자는 싫어
def solution(arr):
    result = []
    result.append(arr[0])
    for i in range(1, len(arr)):
      if arr[i] != arr[i-1]:
        result.append(arr[i])
    return result

In [ ]:
# 시간초과
def solution(arr):
    for i in range(len(arr)-1, 0, -1):
      if arr[i] == arr[i-1]:
        del arr[i-1]
    return arr

In [ ]:
# # lv 1
# 가운데 글자 가져오기
def solution(s):
  num = len(s) % 2
  if num == 0:
    num = len(s) // 2
    return s[num-1:num+1]
  else:
    num = len(s) // 2
    return s[num]

In [ ]:
# 다른사람 풀이
def string_middle(str):

    return str[(len(str)-1)//2:len(str)//2+1]

string_middle("power")

In [ ]:
# # lv 1
# 직사각형 별찍기
a, b = map(int, input().strip().split(' '))
for i in range(b):
  print('*' * a)

In [ ]:
# # lv 1
# x만큼 간격이 있는 n개의 숫자
def solution(x, n):
    return [i*x+x for i in range(n)]

In [ ]:
# # lv 1
# 행렬의 덧셈
def solution(arr1, arr2):
    for i in range(len(arr1)):
      for j in range(len(arr1[0])):
        arr1[i][j] = arr1[i][j] + arr2[i][j]
    return arr1

In [ ]:
# 다른사람 풀이
def sumMatrix(A,B):
    answer = [[c + d for c, d in zip(a, b)] for a, b in zip(A,B)]
    return answer

print(sumMatrix([[1,2], [2,3]], [[3,4],[5,6]]))

In [ ]:
# lv 1
# 핸드폰 번호 가리기
def solution(phone_number):
    answer = phone_number.replace(phone_number[:-4], '*' * len(phone_number[:-4]))
    return answer

In [ ]:
# 다른사람 풀이
def hide_numbers(s):
    return "*"*(len(s)-4) + s[-4:]

print("결과 : " + hide_numbers('01033334444'));

In [ ]:
# lv 1
# 하샤드 수
def solution(x):
  add = 0
  for i in str(x):
    add += int(i)
  return x % add == 0

In [ ]:
# 다른사람 풀이
def Harshad(n):
    return n % sum([int(c) for c in str(n)]) == 0

print(Harshad(18))

In [ ]:
# lv 1
# 평균 구하기
def solution(arr):
    answer = sum(arr) / len(arr)
    return answer

In [ ]:
# lv 1
# 콜라츠 추측
def solution(num):
  answer = 0
  while True:
    if num != 1:
      if num % 2 == 0:
        num //= 2
        answer += 1
      else:
        num = (num*3 + 1)
        answer += 1
    elif answer >= 500:
      answer = -1
      break
    else:
      break
  return answer

In [ ]:
# 다른 풀이
def collatz(num):
    for i in range(500):
        num = num / 2 if num % 2 == 0 else num*3 + 1
        if num == 1:
            return i + 1
    return -1

In [ ]:
# lv 1
# 짝수와 홀수
def solution(num):
    if num % 2 == 0:
      return 'Even'
    else:
      return 'Odd'

In [ ]:
# 다른사람 풀이
def evenOrOdd(num):
    return "Even" if num%2 == 0 else "Odd"

In [ ]:
# lv 1
# 최대공약수와 최소공배수 (유클리드 호제법)
def solution(n, m):

# 최대 공약수
  def gdc(x, y):
      while y > 0:
          x, y = y, x % y
      return x

  # 최소 공배수
  def lcm(x, y):
      return x * y // gdc(x, y)

  ans = []
  ans.append(gdc(n, m))
  ans.append(lcm(n, m))

  return ans

In [ ]:
# lv 1
# 제일 작은 수 제거하기
def solution(arr):
  if len(arr) > 1:
    arr.remove(min(arr))
    return arr
  else:
    return [-1]

In [ ]:
# 다른 사람 풀이
def rm_small(mylist):
    return [i for i in mylist if i > min(mylist)]

# 아래는 테스트로 출력해 보기 위한 코드입니다.
my_list = [4,3,2,1]
print("결과 {} ".format(rm_small(my_list)))

In [ ]:
# lv 1
# 정수 제곱근 판별
def solution(n):
  n_2 = n**(1/2)
  if n_2 == int(n_2):
    return int((n_2+1)**2)
  else:
    return -1

In [ ]:
# lv 1
# 정수 내림차순으로 배치하기
def solution(n):

  nn = [int(i) for i in str(n)]
  nn.sort(reverse=True)

  ans = ''
  for i in nn:
    ans += str(i)

  return int(ans)

In [ ]:
### 다른사람 풀이
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int("".join(ls))

In [ ]:
# lv 1
# 자연수 뒤집어 배열로 만들기
def solution(n):
  nn = list(str(n))
  nn.reverse()
  for num, i in enumerate(nn):
    nn[num] = int(i)
  return nn

In [ ]:
# 다른사람 풀이
def digit_reverse(n):
    return list(map(int, reversed(str(n))))

In [ ]:
# lv 1
# 자릿수 더하기
def solution(n):
    return sum(list(map(int, str(n))))

In [ ]:
# lv 1
# 이상한 문자 만들기
def solution(s):

    s_new = s.split(' ')
    ans = ''
    for num, i in enumerate(s_new):
      for j in range(len(i)):
        if j % 2 == 0:
          ans += s_new[num][j].upper()
        else:
          ans += s_new[num][j].lower()
      if num != len(s_new)-1:
        ans += ' '
    return ans

In [ ]:
# 다른사람 풀이
def toWeirdCase(s):
    return " ".join(map(lambda x: "".join([a.lower() if i % 2 else a.upper() for i, a in enumerate(x)]), s.split(" ")))

In [ ]:
# lv 1
# 약수의 합
def solution(n):
    return  sum([i for i in range(1, n+1) if n % i == 0])

In [ ]:
# lv 1
# 시저 암호
def solution(s, n):
  
  low = [chr(i) for i in range(97, 97+26)] * 2
  up = [chr(i) for i in range(65, 65+26)] * 2

  ans = ''
  for i in s:
    if i in low:
      ans += low[low.index(i) + n]
    elif i in up:
      ans += up[up.index(i) + n]
    else:
      ans += i

  return ans

In [ ]:
# lv 1
# 문자열을 정수로 바꾸기
def solution(s):
  if type(s) == str:
    return int(s)
  else:
    return str(s)

In [ ]:
# lv 1
# 수박수박수박수박수박수?
def solution(n):
  su = '수'
  bak = '박'

  ans = ''

  for i in range(1, n+1):
    if i % 2 == 0:
      ans += bak
    else:
      ans += su

  return ans

In [ ]:
# 다른사람 풀이
def water_melon(n):
    s = "수박" * n
    return s[:n]

In [ ]:
# lv 1
# 서울에서 김서방 찾기
def solution(seoul):
  for num, i in enumerate(seoul):
    if i == 'Kim':
      return f'김서방은 {num}에 있다'

In [ ]:
# 다른사람 풀이
def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

In [ ]:
# lv 1
# 소수 찾기 (다시풀기)
def solution(n):
    num=set(range(2,n+1)) 
    for i in range(2,n+1): 
        if i in num: 
            num-=set(range(2*i,n+1,i)) 
    return len(num)

In [ ]:
# lv 1
# 문자열 다루기 기본
def solution(s):
    try:
      int(s)
      if len(s) == 4 or len(s) == 6:
        return True
      else:
        return False
    except:
      return False

In [ ]:
# 다른사람 풀이
def alpha_string46(s):
    return s.isdigit() and len(s) in (4, 6)

In [ ]:
# lv 1
# 문자열 내림차순으로 배치하기
def solution(s):
    answer = ''
    return answer

In [ ]:
# 다른사람 풀이
def solution(s):
    return ''.join(sorted(s, reverse=True))

In [ ]:
# lv 1
# 문자열 내 p와 y의 개수
def solution(s):
  s = s.lower()
  return s.count('p') == s.count('y')

In [ ]:
# lv 1
# 문자열 내 마음대로 정렬하기
def solution(strings, n):
    return sorted(strings, key = lambda x:x[n])

In [ ]:
# lv 1
# 두 정수 사이의 합
def solution(a, b):
  if a < b:
    return sum([i for i in range(a, b+1)])
  elif a == b:
    return a
  else:
    return sum([i for i in range(b, a+1)])

In [ ]:
# 다른사람 풀이
def adder(a, b):
    if a > b: a, b = b, a
    return sum(range(a,b+1))

In [ ]:
# lv 1
# 나누어 떨어지는 숫자 배열
def solution(arr, divisor):
  arr = [i for i in arr if i % divisor == 0]
  if len(arr) == 0:
    return [-1]
  else:
    arr.sort()
    return arr

In [ ]:
# 다름사람 풀이
def solution(arr, divisor):
    arr = [x for x in arr if x % divisor == 0];
    arr.sort();
    return arr if len(arr) != 0 else [-1];

In [ ]:
# lv 1
# 나머지가 1이 되는 수 찾기
def solution(n):
    for i in range(2, n):
      if n % i == 1:
        return i

In [ ]:
# lv 1
# 최소직사각형
def solution(sizes):
    return max(max(x) for x in sizes) * max(min(x) for x in sizes)

In [ ]:
# lv 1
# 부족한 금액 계산하기
def solution(price, money, count):
    answer = -1
    b=0
    for i in range(1,count+1):
        b+=price*i  
    if b>money:
        answer=b-money  
    else:
        answer=0   
    return answer

In [ ]:
# 다른사람 풀이
def solution(price, money, count):
    return max(0,price*(count+1)*count//2-money)

In [ ]:
# lv 1
# 두 개 뽑아서 더하기
def solution(numbers):
    ans = []
    for i in range(len(numbers)):
      for j in range(i+1, len(numbers)):
        if numbers[i] + numbers[j] not in ans:
          ans.append(numbers[i] + numbers[j])
    ans.sort()
    return ans

In [ ]:
# lv 1
# 예산

# SQL

In [ ]:
# lv 1
# 모든 레코드 조회하기
SELECT *
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
# lv 1
# 최댓값 구하기
SELECT MAX(DATETIME)
FROM ANIMAL_INS

In [ ]:
# lv 1
# 이름이 없는 동물의 아이디
SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NULL

In [ ]:
# lv 1
# 역순 정렬하기
SELECT NAME, DATETIME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC

In [ ]:
# lv 1
# 아픈동물찾기
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick'
ORDER BY ANIMAL_ID ASC

In [ ]:
# lv 1
# 어린 동물 찾기
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'

In [ ]:
# lv 1
# 동물의 아이디와 이름
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID ASC

In [ ]:
# lv 1
# 이름이 있는 동물의 아이디
SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NOT NULL

In [ ]:
# lv 1
# 여러 기준으로 정렬하기
SELECT ANIMAL_ID, NAME, DATETIME
FROM ANIMAL_INS
ORDER BY NAME ASC, DATETIME DESC

In [ ]:
# lv 1
# 상위 n개 레코드
SELECT NAME
FROM ANIMAL_INS
ORDER BY DATETIME ASC LIMIT 1