<a href="https://colab.research.google.com/github/xodn234/xodn234_Daily_Commit/blob/main/BAEKJOON/BAEKJOON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# https://www.acmicpc.net/step

In [ ]:
# 1-1 Hello World!를 출력하시오.
print('Hello World!')

In [ ]:
# 1-2 두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.
for i in range(2):
  print("강한친구 대한육군")

In [ ]:
# 1-3 아래 예제와 같이 고양이를 출력하시오.
print('\\    /\\')
print(" )  ( ')")
print('(  /  )')
print(' \\(__)|')

In [ ]:
# 1-4 아래 예제와 같이 개를 출력하시오.
print("|\_/|")
print("|q p|   /}")
print('( 0 )"""\\')  
print('|"^"`    |')
print("||_/=\\\__|")

In [ ]:
# 1-5 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A + B)

In [ ]:
# 1-6 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A - B)

In [ ]:
# 1-7 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A * B)

In [ ]:
# 1-8 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A / B)

In [ ]:
# 1-9 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
A, B = map(int, input().split())
print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

In [ ]:
# 1-10 하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 
# 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 
# 놀람을 표현하는 프로그램을 작성하시오.
id = str(input())
print(id+'??!')

In [ ]:
# 1-11 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.
year_o = int(input())
year_n = year_o - 543
print(year_n)

In [ ]:
# 1-12  수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성
# (A+B)%C는 ((A%C) + (B%C))%C 
# (A×B)%C는 ((A%C) × (B%C))%C
A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C)+(B%C))%C )
print((A*B)%C)
print(((A%C)*(B%C))%C)

In [ ]:
# 1-13 (세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
# (1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.
# a, b = map(str, input().split())
a = input() # 다른 줄에 입력이 되어야 함으로 각각 입력을 받는다.
b = input()
AB2 = int(a) * int(b[-1])
AB1 = int(a) * int(b[-2])
AB0 = int(a) * int(b[-3])
AB = int(a) * int(b)
print(AB2)
print(AB1)
print(AB0)
print(AB)

In [ ]:
# 2-1 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. A와 B는 공백 한 칸으로 구분되어져 있다.
# 첫째 줄에 다음 세 가지 중 하나를 출력한다.
# A가 B보다 큰 경우에는 '>'를 출력한다.
# A가 B보다 작은 경우에는 '<'를 출력한다.
# A와 B가 같은 경우에는 '=='를 출력한다.
A, B = map(int, input().split())
if A > B:
  print('>')
elif A < B:
  print('<')
else:
  print('==')

In [ ]:
# 2-2 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C,
# 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성
score = int(input())
if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

In [ ]:
# 2-3 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.
# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
year = int(input())
if year % 4 == 0:
  if year % 100 == 0 and year % 400 != 0:
    print(0)
  else:
    print(1)
else:
  print(0)

In [ ]:
# 2-4 주어진 점이 어느 사분면에 속하는지 알아내는 것이다. 사분면은 아래 그림처럼 1부터 4까지 번호를 갖는다.
# "Quadrant n"은 "제n사분면"이라는 뜻
x = int(input())
y = int(input())
if x > 0 and y > 0:
  print(1)
elif x < 0 and y > 0:
  print(2)
elif x < 0 and y < 0:
  print(3)
elif x > 0 and y < 0:
  print(4)

In [ ]:
# 2-5 45분 일찍 알람 설정하기
H, M = map(int, input().split())
time = H * 60 + M - 45
HH = time // 60
MM = time % 60
if HH < 0:
  HH = 23
print(HH, MM)

In [ ]:
# 2-6 훈제오리구이를 시작하는 시각과 오븐구이를 하는 데 필요한 시간이 분단위로 주어졌을 때, 
# 오븐구이가 끝나는 시각을 계산
# 째 줄에 종료되는 시각의 시와 분,  번째 줄에는 요리하는 데 필요한 시간
A, B = map(int, input().split())
C = int(input())
time = A * 60 + B + C
AA = time // 60
BB = time % 60
if AA > 23:
  AA -= 24
print(AA, BB)

In [ ]:
# 2-7 3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램
A, B, C = map(int, input().split())
if A == B == C:
  print(10000 + A * 1000)
elif A == B != C:
   print(1000 + A * 100)
elif A != B == C:
   print(1000 + B * 100)
elif A == C != B:
   print(1000 + A * 100)   
else:
  list_ = [A, B, C]
  print(max(list_) * 100)

In [ ]:
# 3-1 N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성
N = int(input())
for i in range(1, 10):
  print(f'{N} * {i} = {N * i}')

In [ ]:
# 3-2 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성
T = int(input())
for i in range(T):
  A, B = map(int, input().split())
  print(A + B)

In [ ]:
# 3-3 n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램
n = int(input())
num = 0
for i in range(0, n+1):
  num += i
print(num)

In [ ]:
# 3-4 첫 줄에 테스트케이스의 개수 T가 주어진다. 
# T는 최대 1,000,000이다. 
# 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.
import sys
T = int(input())
for i in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print(A + B)
# 오류나지만 정답?

In [ ]:
# 3-5 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램
N = int(input())
for i in range(1, N+1):
  print(i)

In [ ]:
# 3-6 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성
N = int(input())
for i in range(N, 0, -1):
  print(i)

In [ ]:
# 3-7 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램
N = int(input())
for i in range(N, 0, -1):
  print(i)

In [ ]:
# 3-8 A와 B를 입력받은 다음, A+B를 출력하는 프로그램
N = int(input())
for i in range(1, N + 1):
  A, B = map(int, input().split())
  print(f"Case #{i}:", A + B)

In [ ]:
# 3-9 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
N = int(input())
for i in range(1, N+1):
  for j in range(i):
    print('*', end='', sep='')
  print('')

In [ ]:
# 3-10 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
N = int(input())
M = N
for i in range(1, N+1):
  for j in range(M-1, 0, -1):
    print(' ', end='', sep='')
  for k in range(i):
    print('*', end='', sep='')
  M -= 1
  print('')

In [ ]:
# 3-11 정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, 
# A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성
N, X = map(int, input().split())
A = list(map(int, input().split()))
for i in range(N):
  if A[i] < X:
    print(A[i], end=' ', sep=' ')

In [ ]:
# 3-12 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성
while(1):
  A, B = map(int, input().split())
  if A ==0 or B == 0:
    break
  else:
    print(A + B)

In [ ]:
# 3-13 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성
while(1):
  try:
    A, B = map(int, input().split()) 
    print(A + B)
  except:
    break

In [ ]:
# 3-14 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다
# 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다
# 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4
# N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성
N = int(input())
num = N
count = 0

while(1):
  num_10 = num // 10
  num_1 = num % 10
  num_new = (num_10 + num_1) % 10
  num = (num_1 * 10) + num_new
  count += 1

  if num == N:
    print(count)
    break

In [ ]:
# 4-1 N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성
# 첫째 줄에 정수의 개수, 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다
N = int(input())
array = list(map(int, input().split()))
print(min(array), max(array))

In [ ]:
# 4-2 개의 서로 다른 자연수가 주어질 때, 
# 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성

new_num = 0
count = 0
for i in range(9):
  num = int(input())
  count += 1

  if num > new_num:
    new_num = num
    num_cnt = count

print(new_num)
print(num_cnt)

In [ ]:
# 4-3 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는
# 예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300

A = int(input())
B = int(input())
C = int(input())

num = A * B * C
num = str(num)

for i in range(10):
  count = 0
  for j in range(len(num)):
    if i == int(num[j]):
      count += 1
  print(count)

In [ ]:
# 4-4 두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다.
#  10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 
# 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성