<a href="https://colab.research.google.com/github/xodn234/xodn234_Daily_Commit/blob/main/BAEKJOON/BAEKJOON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# https://www.acmicpc.net/step

In [ ]:
import time
startTime = time.time()

### 코드 작성 ###

print(f"측정 시간 : {time.time() - startTime}")

In [ ]:
# 2557
# 1-1 Hello World!를 출력하시오.
print('Hello World!')

In [ ]:
# 10718
# 1-2 두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.
for i in range(2):
  print("강한친구 대한육군")

In [ ]:
# 10171
# 1-3 아래 예제와 같이 고양이를 출력하시오.
print('\\    /\\')
print(" )  ( ')")
print('(  /  )')
print(' \\(__)|')

In [ ]:
# 10172
# 1-4 아래 예제와 같이 개를 출력하시오.
print("|\_/|")
print("|q p|   /}")
print('( 0 )"""\\')  
print('|"^"`    |')
print("||_/=\\\__|")

In [ ]:
# 1000
# 1-5 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A + B)

In [ ]:
# 1001
# 1-6 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A - B)

In [ ]:
# 10998
# 1-7 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A * B)

In [ ]:
# 1008
# 1-8 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
A, B = map(int, input().split())
print(A / B)

In [ ]:
# 10869
# 1-9 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
A, B = map(int, input().split())
print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

In [ ]:
# 10926
# 1-10 하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 
# 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 
# 놀람을 표현하는 프로그램을 작성하시오.
id = str(input())
print(id+'??!')

In [ ]:
# 18108
# 1-11 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.
year_o = int(input())
year_n = year_o - 543
print(year_n)

In [ ]:
# 10430
# 1-12  수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성
# (A+B)%C는 ((A%C) + (B%C))%C 
# (A×B)%C는 ((A%C) × (B%C))%C
A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C)+(B%C))%C )
print((A*B)%C)
print(((A%C)*(B%C))%C)

In [ ]:
# 2588
# 1-13 (세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
# (1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.
# a, b = map(str, input().split())
a = input() # 다른 줄에 입력이 되어야 함으로 각각 입력을 받는다.
b = input()
AB2 = int(a) * int(b[-1])
AB1 = int(a) * int(b[-2])
AB0 = int(a) * int(b[-3])
AB = int(a) * int(b)
print(AB2)
print(AB1)
print(AB0)
print(AB)

In [ ]:
# 1330
# 2-1 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. A와 B는 공백 한 칸으로 구분되어져 있다.
# 첫째 줄에 다음 세 가지 중 하나를 출력한다.
# A가 B보다 큰 경우에는 '>'를 출력한다.
# A가 B보다 작은 경우에는 '<'를 출력한다.
# A와 B가 같은 경우에는 '=='를 출력한다.
A, B = map(int, input().split())
if A > B:
  print('>')
elif A < B:
  print('<')
else:
  print('==')

In [ ]:
# 9498
# 2-2 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C,
# 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성
score = int(input())
if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

In [ ]:
# 2753
# 2-3 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.
# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
year = int(input())
if year % 4 == 0:
  if year % 100 == 0 and year % 400 != 0:
    print(0)
  else:
    print(1)
else:
  print(0)

In [ ]:
# 14681
# 2-4 주어진 점이 어느 사분면에 속하는지 알아내는 것이다. 사분면은 아래 그림처럼 1부터 4까지 번호를 갖는다.
# "Quadrant n"은 "제n사분면"이라는 뜻
x = int(input())
y = int(input())
if x > 0 and y > 0:
  print(1)
elif x < 0 and y > 0:
  print(2)
elif x < 0 and y < 0:
  print(3)
elif x > 0 and y < 0:
  print(4)

In [ ]:
# 2884
# 2-5 45분 일찍 알람 설정하기
H, M = map(int, input().split())
time = H * 60 + M - 45
HH = time // 60
MM = time % 60
if HH < 0:
  HH = 23
print(HH, MM)

In [ ]:
# 2525
# 2-6 훈제오리구이를 시작하는 시각과 오븐구이를 하는 데 필요한 시간이 분단위로 주어졌을 때, 
# 오븐구이가 끝나는 시각을 계산
# 째 줄에 종료되는 시각의 시와 분,  번째 줄에는 요리하는 데 필요한 시간
A, B = map(int, input().split())
C = int(input())
time = A * 60 + B + C
AA = time // 60
BB = time % 60
if AA > 23:
  AA -= 24
print(AA, BB)

In [ ]:
# 2480
# 2-7 3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램
A, B, C = map(int, input().split())
if A == B == C:
  print(10000 + A * 1000)
elif A == B != C:
   print(1000 + A * 100)
elif A != B == C:
   print(1000 + B * 100)
elif A == C != B:
   print(1000 + A * 100)   
else:
  list_ = [A, B, C]
  print(max(list_) * 100)

In [ ]:
# 2739
# 3-1 N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성
N = int(input())
for i in range(1, 10):
  print(f'{N} * {i} = {N * i}')

In [ ]:
# 10950
# 3-2 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성
T = int(input())
for i in range(T):
  A, B = map(int, input().split())
  print(A + B)

In [ ]:
# 8393
# 3-3 n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램
n = int(input())
num = 0
for i in range(0, n+1):
  num += i
print(num)

In [ ]:
# 15552
# 3-4 첫 줄에 테스트케이스의 개수 T가 주어진다. 
# T는 최대 1,000,000이다. 
# 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.
import sys
T = int(input())
for i in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print(A + B)
# 오류나지만 정답?

In [ ]:
# 2741
# 3-5 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램
N = int(input())
for i in range(1, N+1):
  print(i)

In [ ]:
# 2742
# 3-6 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성
N = int(input())
for i in range(N, 0, -1):
  print(i)

In [ ]:
# 11021
# 3-7 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램
N = int(input())
for i in range(N, 0, -1):
  print(i)

In [ ]:
# 11022
# 3-8 A와 B를 입력받은 다음, A+B를 출력하는 프로그램
N = int(input())
for i in range(1, N + 1):
  A, B = map(int, input().split())
  print(f"Case #{i}:", A + B)

In [ ]:
# 2438
# 3-9 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
N = int(input())
for i in range(1, N+1):
  for j in range(i):
    print('*', end='', sep='')
  print('')

In [ ]:
# 2439
# 3-10 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
N = int(input())
M = N
for i in range(1, N+1):
  for j in range(M-1, 0, -1):
    print(' ', end='', sep='')
  for k in range(i):
    print('*', end='', sep='')
  M -= 1
  print('')

In [ ]:
# 10871
# 3-11 정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, 
# A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성
N, X = map(int, input().split())
A = list(map(int, input().split()))
for i in range(N):
  if A[i] < X:
    print(A[i], end=' ', sep=' ')

In [ ]:
# 10952
# 3-12 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성
while(1):
  A, B = map(int, input().split())
  if A ==0 or B == 0:
    break
  else:
    print(A + B)

In [ ]:
# 10951
# 3-13 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성
while(1):
  try:
    A, B = map(int, input().split()) 
    print(A + B)
  except:
    break

In [ ]:
# 1110
# 3-14 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다
# 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다
# 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4
# N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성
N = int(input())
num = N
count = 0

while(1):
  num_10 = num // 10
  num_1 = num % 10
  num_new = (num_10 + num_1) % 10
  num = (num_1 * 10) + num_new
  count += 1

  if num == N:
    print(count)
    break

In [ ]:
# 10818
# 4-1 N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성
# 첫째 줄에 정수의 개수, 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다
N = int(input())
array = list(map(int, input().split()))
print(min(array), max(array))

In [ ]:
# 2562
# 4-2 개의 서로 다른 자연수가 주어질 때, 
# 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성

new_num = 0
count = 0
for i in range(9):
  num = int(input())
  count += 1

  if num > new_num:
    new_num = num
    num_cnt = count

print(new_num)
print(num_cnt)

In [ ]:
# 2577
# 4-3 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는
# 예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300

A = int(input())
B = int(input())
C = int(input())

num = A * B * C
num = str(num)

for i in range(10):
  count = 0
  for j in range(len(num)):
    if i == int(num[j]):
      count += 1
  print(count)

In [ ]:
# 3052
# 4-4 두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다.
# 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 
# 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성

array = []
for i in range(10):
  num = int(input())
  num_42 = num % 42
  if num_42 not in array:
    array.append(num_42)
print(len(array))

In [ ]:
# 1546
# 4-5 예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.
# 시험 본 과목의 개수 N
N = int(input())
score = list(map(float, input().split()))
m_score = max(score)
for i in range(len(score)):
  score[i] = score[i]/m_score*100
print(sum(score) / len(score))

In [ ]:
# 8958
# 4-6 O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다.
# ex) "OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.
N = int(input())
for i in range(N):
  score = 1
  total_score = 0
  ox = input()
  for j in range(len(ox)):
    if ox[j] == 'O':
      total_score += score
      score += 1
    else:
      score = 1
  print(total_score)

In [ ]:
# 4344
# 4-7 첫째 줄에는 테스트 케이스의 개수 C
# 둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 
# 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.
N = int(input())
for i in range(N):
  num_score = list(map(int, input().split()))
  avr = sum(num_score[1:])/num_score[0]
  count = 0
  for j in num_score[1:]:
    if j > avr:
      count += 1
    avr_num = (count / num_score[0]) * 100
  print(f'{avr_num:.3f}%')

In [ ]:
# 15596
# 5-1 정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성
def solve(a):
  return sum(a)

In [ ]:
# 4673
# 5-2 양의 정수 n이 주어졌을 때, 이 수를 시작해서 n, d(n), d(d(n)), d(d(d(n))), ...과 같은 무한 수열을 만들 수 있다.
# 문제 생략
def d(n):
  n = n + sum(map(int, str(n)))
  return n

nn = set()
for i in range(1, 10001):
  nn.add(d(i))

for j in range(1, 10001):
  if j not in nn:
    print(j)

In [ ]:
# 1065
# 5-3 N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성
def hansu(num) :
    count = 0
    for i in range(1, num+1):
        num_list = list(map(int,str(i)))
        if i < 100:
            count += 1  
        elif num_list[0] - num_list[1] == num_list[1] - num_list[2]:
            count += 1  
    return count

num = int(input())
print(hansu(num))

In [ ]:
# 11654
# 6-1 알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성
a = input()
print(ord(a))

In [ ]:
# 11720
# 6-2 N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성
N = int(input())
num = input()
t_num = 0
for i in range(N):
  t_num += int(num[i])
print(t_num)

In [ ]:
# 10809
# 6-3  소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 
# 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성
word = input()
inc = []
num = [-1 for i in range(0, 26)]
for j in range(0, 26):
  for i in range(0, len(word)):
    if word[i] not in inc:
      num[ord(word[i]) - 97] = i
      inc.append(word[i])
  print(num[j], end = ' ')

In [ ]:
# 2675
# 6-4 문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성
P = int(input())
for i in range(P):
  T, S = map(str, input().split())
  T = int(T)
  for i in range(len(S)):
    print(S[i]  * T, end='')
  print()

In [ ]:
# 1157
# 6-5 알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성
word = input()
word = word.lower()
from collections import Counter
word_dic = Counter(word)
count = 0
for k, v in word_dic.items():
  if v == max(word_dic.values()) and count == 0:
    count += 1
    word_max = k
  elif v == max(word_dic.values()) and count != 0:
    word_max = '?'
print(word_max.upper())

In [ ]:
# 1152
# 6-6 어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 
word = input()
print(len(word.split()))

In [ ]:
# 2908
# 6-7 상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 
# 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.
A, B = map(int, input().split())
C = (A % 10)*100 + (A // 10 % 10)*10 + (A // 100)
D = (B % 10)*100 + (B // 10 % 10)*10 + (B // 100)
if C > D:
  print(C)
else:
  print(D)

In [ ]:
# 5622
# 6-8 숫자 1을 걸려면 총 2초가 필요하다. 
# 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.
# 전화를 걸기 위해서 필요한 최소 시간을 구하는 프로그램
bet = input()
dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
time = 0
for i in range(len(bet)):
  for j in range(len(dial)):
    if bet[i] in dial[j]:
      time += (j+3)
      break
print(time)

In [ ]:
# 2941
# 6-9  단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.
word = input()
bet_list = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
for i in bet_list:
  word = word.replace(i, '0')
print(len(word))

In [ ]:
# 1316
# 6-10 단어 N개를 입력으로 받아 그룹 단어의 개수를 출력하는 프로그램을 작성
N = int(input())
word_group = N
for i in range(N):
  word = input()
  for j in range(len(word)-1):
    if word[j] == word[j+1]:
      pass
    elif word[j] in word[j+1:]:
      word_group -= 1
      break

print(word_group)

In [ ]:
N=int(input())

answer=0

for i in range(N):
    word = input()
    for j in range(len(word)):
        if j!=len(word)-1:
            if word[j]==word[j+1]:
                pass
            elif word[j] in word[j+1:]:
                break
        else:
            answer+=1
print(answer)

In [ ]:
# 1712
# 7-1 A, B, C가 주어졌을 때, 손익분기점을 구하는 프로그램을 작성
A, B, C = map(int, input().split())
if B>=C:
  print(-1)
else:
  print((A // (C - B)) + 1)

In [ ]:
# 2292
# 7-2 숫자 N이 주어졌을 때, 벌집의 중앙 1에서 N번 방까지 최소 개수의 
# 방을 지나서 갈 때 몇 개의 방을 지나가는지(시작과 끝을 포함하여)를 계산하는 프로그램을 작성
N = int(input())
zip = 1
room = 1
while (N > zip):
  zip += 6*room
  room += 1
print(room)

# 1
# 2~7
# 8~19
# 20~37

In [ ]:
# 1193
# 7-3 가 주어졌을 때, X번째 분수를 구하는 프로그램을 작성

In [ ]:
# 2869
# 7-4 달팽이는 낮에 A미터 올라갈 수 있다. 하지만, 밤에 잠을 자는 동안 B미터 미끄러진다.
# 또, 정상에 올라간 후에는 미끄러지지 않는다.
# 달팽이가 나무 막대를 모두 올라가려면, 며칠이 걸리는지 구하는 프로그램을 작성하시오.
A, B, V = map(int, input().split())
day = (V - B) // (A - B)
if (V - B) % (A - B) != 0:
  day += 1
print(day)

In [ ]:
# 10250
# 7-5  설문조사 결과 대로 호텔 정문으로부터 걷는 거리가 가장 짧도록 방을 배정하는 프로그램을 작성
N = int(input())
for i in range(N):
  H, W, N = map(int, input().split())
  f = N % H * 100
  if f == 0:
    f = H * 100
  r = ((N-1) // H)+1
  print(f + r)

In [ ]:
# 2775
# 7-6 각각의 Test case에 대해서 해당 집에 거주민 수를 출력하라.
# 2층 1  4  10  20  35 
# 1층 1  3  6   10  15
# 0층 1  2  3    4   5
N = int(input())
for i in range(N):
  k = int(input())
  n = int(input())

  arr = [i for i in range(1, n+1)]
  for j in range(k):
    for z in range(1, n):
      arr[z] += arr[z-1]
  print(arr[-1])

In [ ]:
# 2839 
# 7-7 상근이가 설탕을 정확하게 N킬로그램 배달해야 할 때, 봉지 몇 개를 가져가면 되는지 
# 그 수를 구하는 프로그램을 작성
suger = int(input())
bag = 0
while suger >= 0:
  if suger % 5 == 0:
    bag += (suger // 5)
    break
  else:
    suger -= 3
    bag += 1
  if suger < 3 and suger != 0:
    bag = -1
print(bag)

In [ ]:
# 10757
# 7-8 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성
A, B = map(int, input().split())
print(A+B)

In [ ]:
# 1978
# 8-1 주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성
N = int(input())
A = map(int, input().split())

count = 0

for i in A:
  err = 0
  if i > 1 :
    for j in range(2, i):
      if i % j == 0:
        err += 1
    if err == 0:
      count += 1
    
print(count)

In [ ]:
# 2581
# 8-2 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성